/************************************************************************************************************************************************/
/*MASTER*/
/************************************************************************************************************************************************/
* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  display: grid;
  grid-gap: 1rem 1rem;
  background-color: #fcfdf2;
}

.action-btn-gen {
  font-size: 0.9rem;
  min-height: 40px;
  background-color: #8E3200;
  border: 1px solid #D7A86E;
  border-radius: 5px;
  color: #fcfdf2;
}

.action-btn-gen:hover {
  cursor: pointer;
}

/************************************************************************************************************************************************/
#root {
  background-color: inherit;
}

.content-area {
  display: grid;
  background-color: inherit;
}
.content-area .cart-pane {
  width: 100%;
  display: grid;
}
.content-area .cart-pane .cart-items {
  grid-column: 1/span 4;
}
.content-area .cart-pane .cart-items .cart-title {
  margin: 0;
}
.content-area .cart-pane .cart-items .cart-items-wrapper {
  overflow-y: scroll;
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
.content-area .cart-pane .cart-summary {
  grid-column: 1/span 4;
}
.content-area .cart-pane .cart-summary .summary-wrapper {
  padding: 1rem;
  display: grid;
  gap: 1rem;
}
.content-area .cart-pane .cart-summary .summary-wrapper .col-1 {
  grid-column: 1/span 1;
}
.content-area .cart-pane .cart-summary .summary-wrapper .col-2 {
  grid-column: 2/sspan 1;
}
.content-area .cart-pane .cart-summary .summary-wrapper .action-btn {
  grid-column: 1/span 2;
}
.content-area .popular {
  background-color: inherit;
}
.content-area .popular .popular-grid {
  grid-auto-flow: column;
  width: 100%;
}

.cart-item {
  border: 1px solid #FFCA03;
  width: 100%;
  display: grid;
  grid-template-columns: 90px repeat(2, 1fr);
  grid-template-areas: "t t t" "c w w " "l q q" "b b b";
  gap: 1rem;
  justify-items: left;
  align-items: center;
  font-size: 0.9rem;
  padding: 0.5rem;
}
.cart-item .cart-item-picture {
  width: 70px;
  aspect-ratio: 1/1;
  grid-area: p;
  display: none;
}
.cart-item .cart-item-title {
  grid-area: t;
}
.cart-item .cart-item-weight {
  grid-area: w;
  margin: 0;
  font-size: inherit;
  justify-self: right;
}
.cart-item .cart-item-cost {
  grid-area: c;
  margin: 0;
  width: 100%;
}
.cart-item .cart-item-quantity {
  grid-area: q;
  margin: 0;
  justify-self: right;
}
.cart-item .quantity-label {
  grid-area: l;
}
.cart-item .action-btn-cart-delete {
  grid-area: b;
  color: rgba(255, 0, 0, 0.7);
  border: 1px solid rgba(255, 0, 0, 0.7);
  background-color: transparent;
  width: 100%;
}
.cart-item .action-btn-cart-delete:hover {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}

@media screen and (min-width: 800px) {
  #root {
    background-color: inherit;
  }
  .content-area {
    display: grid;
    background-color: inherit;
  }
  .content-area .cart-pane {
    width: 100%;
    display: grid;
  }
  .content-area .cart-pane .cart-items {
    grid-column: 1/span 3;
  }
  .content-area .cart-pane .cart-items .cart-title {
    margin: 0;
  }
  .content-area .cart-pane .cart-items .cart-items-wrapper {
    overflow-y: scroll;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(auto-fill, 150px);
    padding: 1rem;
  }
  .content-area .cart-pane .cart-summary {
    grid-column: 4/span 1;
  }
  .content-area .cart-pane .cart-summary .summary-wrapper {
    padding: 1rem;
    display: grid;
    gap: 1rem;
  }
  .content-area .cart-pane .cart-summary .summary-wrapper .col-1 {
    grid-column: 1/span 1;
  }
  .content-area .cart-pane .cart-summary .summary-wrapper .col-2 {
    grid-column: 2/sspan 1;
  }
  .content-area .cart-pane .cart-summary .summary-wrapper .action-btn {
    grid-column: 1/span 2;
  }
  .content-area .popular {
    background-color: inherit;
  }
  .content-area .popular .popular-grid {
    grid-auto-flow: column;
    width: 100%;
  }
  .cart-item {
    border: 1px solid #FFCA03;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 150px repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-areas: "p t t b b" "p w c l q";
    gap: 1rem;
    justify-items: start;
    align-items: center;
    padding-left: 0;
  }
  .cart-item .cart-item-picture {
    width: 150px;
    aspect-ratio: 1/1;
    grid-area: p;
    display: block;
  }
  .cart-item .cart-item-title {
    grid-area: t;
  }
  .cart-item .cart-item-weight {
    grid-area: w;
  }
  .cart-item .quantity-label {
    grid-area: l;
  }
  .cart-item .cart-item-quantity {
    grid-area: q;
  }
  .cart-item .action-btn-cart-delete {
    grid-area: b;
    color: rgba(255, 0, 0, 0.7);
    border: 1px solid rgba(255, 0, 0, 0.7);
    background-color: transparent;
  }
  .cart-item .action-btn-cart-delete:hover {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
  }
}

/*# sourceMappingURL=cart.css.map */
