/* Error: There is no module with the namespace "colors".
 *    ,
 * 25 |         border: 1px solid colors.$col_1_3;
 *    |                           ^^^^^^^^^^^^^^^
 *    '
 *   global_styles\review.scss 25:27  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "colors".\a    \2577 \a 25 \2502          border: 1px solid colors.$col_1_3;\d\a    \2502                            ^^^^^^^^^^^^^^^\a    \2575 \a   global_styles\\review.scss 25:27  root stylesheet';
}
