*{
    box-sizing: border-box;
}

body{
    overflow: scroll;
    padding: 0;
    margin: 0;
}


/* ************************************************************************************************************************************************ */
/* SEARCH BAR
************************************************************************************************************************************************ */
.search-wrapper{
    display: grid;
    max-height: 140px;
    padding: 2%;
}

.search-bar{
    height: 35px;
    font-size: 0.9rem;
    grid-row: 1 / 1;
}

.sort-select{
    grid-row: 2 / 2;
    justify-self: right;
    padding: 3% 0 3% 3%;
}

/* ************************************************************************************************************************************************
RESULTS
************************************************************************************************************************************************ */
.result-banner{
    background-color: hsl(0, 0%,90%);
    width: 100%;
    height: 10%;
    padding: 2% 2%;
}

.results-grid{
    display: grid;
    grid-template-columns: 100%;
}

.product-card{
    border: 2px solid hsl(0, 0%,60%);
    border-radius: 5px;
    margin: 3%;
    transition: box-shadow 0.5s;
    min-height: 400px;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.product-card:hover{
    box-shadow: 0 0 10px hsl(0, 0%,60%);
}

.product-image{
    width: 100%;
    grid-row: 1 / span 5;
    min-width: 0;
    min-height: 0;
}

.product-desc{
    grid-row: 6 / span 3;
    padding: 2%;
    min-width: 0;
    min-height: 0;
}

.actions-container{
    background-color: hsl(0, 0%,70%);
    grid-row: 9 / span 2;
    padding: 2%;
    min-width: 0;
    min-height: 0;
    display: grid;
}

.price-label{
    grid-column: 1 / 1;
    align-self: center;
}

.action-btn{
    grid-column: 3 / 3;
    font-size: 0.8rem;
    align-self: center;
    min-height: 50px;
}

/* ************************************************************************************************************************************************
FOOTER
************************************************************************************************************************************************ */
.footer{
    background-color: rgb(20, 126, 100);
    padding: 5% 1%;
}

.newsletter-form{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
}

.newsletter-label{
    grid-row: 1 / 1;
    padding: 2%;

}

.email-input{
    background-color: transparent;
    grid-row: 2 / 2;
    border-bottom: 3px solid green;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 2%;
    width: 75%;
}

.subs-btn{
    padding: 1%;
    margin: 1%;
}
/* ************************************************************************************************************************************************
MEDIA QUERIES
************************************************************************************************************************************************ */

@media screen and (min-width: 550px) {
    .results-grid{
       grid-template-columns: auto auto auto;
    }
    

    .search-wrapper{
        grid-template-columns: 50% auto 50%;
        grid-template-rows: none;
        align-items: center;
    }

    .search-bar{
        grid-column: 1 / 1;
    }

    .sort-select{
        grid-column: 3 / 3;
        grid-row: 1 / 1;
        justify-self: right;
    }
}

@media screen and (min-width: 750px) {
    .results-grid{
        grid-template-columns: 25% 25% 25% 25%;
    }

    .nav-container{
        display: none;
    }

    .sort-select{
        justify-self: left;
    }
}