@use "./colors";
/************************************************************************************************************************************************/
/*CAROUSEL*/
/*************************************************************************************************************************************************/
$carousel_item_count: 5;

@mixin carousel_dim($scale_h: 1, $scale_w: 1) {
    height: calc($carousel_height*$scale_h);
    width: calc($carousel_width*$scale_w);
    min-width: calc($carousel_width*$scale_w);
}

$carousel_height: 100%;
$carousel_width: 100%;

.carousel-container{
    @include carousel_dim;
    position: relative;
    overflow: hidden;
}

.left-btn{
    @include carousel_dim(1, 0.5);
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: $carousel_item_count + 1;
}

.right-btn{
    @include carousel_dim(1, 0.5);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: $carousel_item_count + 1;
}

.carousel-item{
    @include carousel_dim(0.5, 0.8);
    font-size: 0.8rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 10%;
    opacity: 0;
    transform: translateY(50%);
    transition: all 1s;
}

.carousel-focus {
    @include carousel_dim(0.95, 0.7);
    left: 15%;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.4);
    opacity: 1;
    transform: translateY(2.5%);
    transition: all 1s;
    z-index: $carousel_item_count;
}

.carousel-right{
    @include carousel_dim(0.8, 0.8);
    top: 0;
    left: 90%;
    opacity: 1;
    transform: translateY(12.5%);
    transition: all 1s;
    z-index: $carousel_item_count - 1;
}

.carousel-left{
    @include carousel_dim(0.8, 0.8);
    top: 0;
    left: -70%;
    opacity: 1;
    transform: translateY(12.5%);
    transition: all 1s;
    z-index: $carousel_item_count - 1;
}