/************************************************************************************************************************************************/
/*DETAILS PANE*/
/************************************************************************************************************************************************/

$dp-height: 100%;
$dp-width: 100%;

@media screen and (min-width: 750px) {
    .details-pane{
        height: $dp-height;
        width: $dp-width;
        display: grid;
        overflow-y: scroll;
        background-color: colors.$col_1_3;
    }
}
