.footer{
    background-color: rgb(93, 203, 176);
    position: relative;
    padding: 5% 1%;
}

.nl-form{
    display: grid;
    position: absolute;
    height: 20vh;
    width: 90%;
    grid-template-areas: 
    "l l l l l l l l l l l l l l c" 
    ". i i i i i i i i i i i i i ." 
    ". . . . . s s s s s . . . . .";
    border-radius: 10px 10px 5px 10px;
    bottom: 20vh;
    align-items: center;
    justify-items: center;
    background-color: beige;
}

.nl-close-btn{
    grid-area: c;
}

.nl-label{
    grid-area: l;
    padding: 2%;
}

.nl-input{
    grid-area: i;
    border-bottom: 3px solid green;
    border-top: none;
    border-left: none;
    border-right: none;
}

.nl-submit{
    grid-area: s;
    padding: 1%;
}

.nl-interested{
    border: none;
    background-color: transparent;
}

.footer-form{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

