@use './colors';

@import './navbar';
@import './product_card';
@import './popular_banner';
@import './footer';
@import './misc';
/************************************************************************************************************************************************/
/*MASTER*/
/************************************************************************************************************************************************/
* {
    box-sizing: border-box;
    min-width: 0;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    display: grid;
    grid-gap: 1rem 1rem;
    background-color: colors.$col_1_1;
}

.action-btn-gen{
    font-size: 0.9rem;
    min-height: 40px;
    background-color: colors.$col_1_4;
    border: 1px solid colors.$col_1_3;
    border-radius: 5px;
    color: colors.$col_1_1;
}

.action-btn-gen:hover{
    cursor: pointer;
}


