@use "./colors";
/************************************************************************************************************************************************/
/*PRODUCT CARD*/
/************************************************************************************************************************************************/
.product-card{
    border: 2px solid colors.$col_1_4;
    border-radius: 5px;
    transition: box-shadow 0.5s;
    min-height: 400px;
    display: grid;
    grid-template-rows: repeat(8, minmax(0, 1fr));
}

.product-card:hover{
    box-shadow: 0 0 10px colors.$col_1_3;
}

.product-image{
    object-fit: cover;
    width: 100%;
    grid-row: 1 / span 5;
    min-width: 0;
    min-height: 0;
    height: 100%;
}

.product-desc{
    grid-row: 6 / span 2;
    padding: 2%;
    min-width: 0;
    min-height: 0;
    align-self: baseline;
}

.actions-container{
    grid-row: 8 / span 1;
    padding: 0.2rem;
    border-radius: 0 0 5px 5px;
    min-width: 0;
    min-height: 0;
    display: grid;
}

.price-label{
    grid-column: 1 / 1;
    align-self: center;
}

.action-btn{
    grid-column: 3 / 3;
    font-size: 0.8rem;
    align-self: center;
    min-height: 50px;
    background-color: colors.$col_1_4;
    border: 1px solid colors.$col_1_3;
    border-radius: 5px;
}

.action-btn:hover{
    background-color: colors.$col_1_3;
}