/* Error: There is no module with the namespace "colors".
 *    ,
 * 21 |     background-color: colors.$col_1_4;
 *    |                       ^^^^^^^^^^^^^^^
 *    '
 *   global_styles\components\misc.scss 21:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "colors".\a    \2577 \a 21 \2502      background-color: colors.$col_1_4;\d\a    \2502                        ^^^^^^^^^^^^^^^\a    \2575 \a   global_styles\\components\\misc.scss 21:23  root stylesheet';
}
