/************************************************************************************************************************************************/
/*MASTER*/
/************************************************************************************************************************************************/
* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  display: grid;
  grid-gap: 1rem 1rem;
  background-color: #fcfdf2;
}

/* ************************************************************************************************************************************************ */
/* NAVBAR */
/* ************************************************************************************************************************************************ */
.navbar {
  background-color: #fcfdf2;
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 200px auto auto;
  padding: 1rem;
  position: sticky;
  text-align: left;
  top: 0;
  align-items: center;
  z-index: 100;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  padding: 2vh;
}

.nav-link:hover {
  color: black;
  background-color: #D7A86E;
}

.nav-link:active {
  background-color: black;
}

.navbar-button {
  height: auto;
  font-size: 2rem;
}

.nav-brand {
  font-size: 1.7rem;
  font-weight: 500;
  background-color: red;
  color: white;
  padding: 3%;
}

.nav-items {
  display: none;
  justify-self: right;
}

.nav-brand:hover {
  color: #FFCA03;
  background-color: red;
}

.nav-btn {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  justify-self: right;
  grid-column: 3/3;
}

.show {
  display: flex;
  flex-direction: column;
  background-color: #FFCA03;
  position: absolute;
  z-index: 2;
  top: 100%;
  width: 50%;
}

.hide {
  display: none;
}

/* ************************************************************************************************************************************************
MEDIA QUERIES
************************************************************************************************************************************************ */
@media screen and (min-width: 750px) {
  .nav-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column: 3/3;
  }
  .nav-btn {
    display: none;
  }
}
/************************************************************************************************************************************************/
/*FOOTER*/
/************************************************************************************************************************************************/
.footer {
  background-color: #D7A86E;
  position: relative;
  padding: 3% 1%;
  display: grid;
  gap: 1rem;
}

.footer-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.nl-form {
  display: grid;
  position: absolute;
  min-height: 150px;
  width: 90%;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-areas: "l l l l l l l l l l l l l c c" "p p p i i i i i i i i i . . ." "p p p . . s s s s s . . . . ." "m m m m m m m m m m m m m m m";
  border-radius: 10px;
  bottom: 20vh;
  align-items: center;
  justify-items: center;
  background-color: beige;
  z-index: 21;
}

.nl-close-btn {
  grid-area: c;
  border-radius: 10px;
  border: none;
  display: grid;
  align-items: center;
  justify-items: center;
}

.nl-label {
  grid-area: l;
  padding: 2%;
  font-size: 1.2rem;
  justify-self: left;
}

.nl-input {
  width: 100%;
  grid-area: i;
  border-bottom: 3px solid green;
  border-top: none;
  border-left: none;
  border-right: none;
}

.nl-submit {
  grid-area: s;
  padding: 1%;
  border: none;
}

.nl-interested {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: transparent;
  justify-self: left;
}

.nl-icon {
  grid-area: p;
  font-size: 2.8rem;
  color: rgb(84, 188, 244);
  transform: translateX(8%) translateY(10%);
}

.nl-p {
  grid-area: m;
  font-size: 0.6rem;
}

.loc-ico {
  font-size: 3rem;
}

.loc-ico:hover {
  color: #fcfdf2;
}

.loc-banner {
  width: 100%;
  text-align: justify;
  display: grid;
  gap: 1rem;
  justify-items: center;
}

.loc-txt {
  margin: 0;
  text-decoration: none;
  color: black;
}

.soc-banner {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
  row-gap: 1rem;
}

.soc-ico {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: none;
}

.soc-ico:hover {
  filter: invert(1);
}

@media screen and (min-width: 550px) {
  .nl-form {
    width: 60%;
  }
}
@media screen and (min-width: 750px) {
  .nl-form {
    width: 40%;
    bottom: 50vh;
  }
  .soc-banner {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
/************************************************************************************************************************************************/
/*PRODUCT CARD*/
/************************************************************************************************************************************************/
.product-card {
  border: 2px solid #8E3200;
  transition: box-shadow 0.5s;
  min-height: 400px;
  display: grid;
  grid-template-rows: repeat(8, minmax(0, 1fr));
}

.product-card:hover {
  box-shadow: 0 0 10px #D7A86E;
}

.product-image {
  object-fit: cover;
  width: 100%;
  grid-row: 1/span 5;
  min-width: 0;
  min-height: 0;
  height: 100%;
}

.product-desc {
  grid-row: 6/span 2;
  padding: 2%;
  min-width: 0;
  min-height: 0;
  align-self: baseline;
}

.actions-container {
  grid-row: 8/span 1;
  padding: 2%;
  border-radius: 0 0 5px 5px;
  min-width: 0;
  min-height: 0;
  display: grid;
  align-items: center;
}

.price-label {
  grid-column: 1/1;
  margin: 0;
}

.action-btn {
  grid-column: 3/3;
  font-size: 0.9rem;
  min-height: 40px;
  background-color: #8E3200;
  border: 1px solid #D7A86E;
  border-radius: 5px;
  color: #fcfdf2;
}

.action-btn:hover {
  background-color: #D7A86E;
}

/************************************************************************************************************************************************/
/*CAROUSEL*/
/*************************************************************************************************************************************************/
.carousel-container {
  height: calc(max(200px, 40vh) * 1);
  width: 100%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  margin: 1% 0;
}
.carousel-container #item-1 {
  background-color: #fcfdf2;
}
.carousel-container #item-2 {
  background-color: #FFCA03;
}
.carousel-container #item-3 {
  background-color: #D7A86E;
}
.carousel-container #item-4 {
  background-color: #8E3200;
}
.carousel-container #item-5 {
  background-color: chocolate;
}

.left-btn {
  height: calc(max(200px, 40vh) * 1);
  width: 50%;
  min-width: 50%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
}

.right-btn {
  height: calc(max(200px, 40vh) * 1);
  width: 50%;
  min-width: 50%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
}

.carousel-item {
  height: calc(max(200px, 40vh) * 0.5);
  width: 80%;
  min-width: 80%;
  font-size: 0.8rem;
  padding: 5%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 10%;
  opacity: 0;
  transform: translateY(25%);
  transition: all 1s;
  z-index: 3;
}

.carousel-focus {
  height: calc(max(200px, 40vh) * 0.9);
  width: 70%;
  min-width: 70%;
  left: 15%;
  box-shadow: 0px 0px 10px hsla(0deg, 0%, 0%, 0.4);
  opacity: 1;
  transform: translateY(5%);
  transition: all 1s;
  z-index: 5;
}

.carousel-right {
  height: calc(max(200px, 40vh) * 0.8);
  width: 80%;
  min-width: 80%;
  top: 0;
  left: 90%;
  opacity: 1;
  transform: translateY(10%);
  transition: all 1s;
  z-index: 4;
}

.carousel-left {
  height: calc(max(200px, 40vh) * 0.8);
  width: 80%;
  min-width: 80%;
  top: 0;
  left: -70%;
  opacity: 1;
  transform: translateY(10%);
  transition: all 1s;
  z-index: 4;
}

.intro {
  background-color: #D7A86E;
  display: grid;
  grid-template-columns: 1fr;
  height: max(250px, 60vh);
  min-width: 0;
}

.intro-text {
  color: white;
  font-family: sans-serif;
  font-size: 2.5rem;
  text-shadow: 1px 1px black;
}

.intro-img-wrapper {
  width: 100%;
  background-color: rgba(215, 168, 110, 0.6);
  background-image: url(../images/intro-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 1/1;
  display: grid;
  grid-template-rows: repeat(7, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  height: max(250px, 60vh);
}

.intro-text-wrapper {
  grid-row: 1/span 5;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 5%;
  width: 90%;
  text-align: center;
}

.intro-btn {
  border: none;
  background-color: #FFCA03;
  border-radius: 1.5rem;
  font-size: 1rem;
  grid-row: 6/span 1;
  min-width: 180px;
  height: 80%;
}

.intro-btn:hover {
  background-color: #fcfdf2;
  cursor: pointer;
}

/************************************************************************************************************************************************/
/*POPULAR BANNER*/
/************************************************************************************************************************************************/
.popular {
  margin: 1rem;
}

.popular-grid {
  overflow-x: scroll;
  overflow-y: hidden;
  height: calc(max(400px, 40vh) * 1);
  width: 100%;
  min-width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 100%);
  gap: 3rem;
}

/************************************************************************************************************************************************/
/*BLOG CONTAINER*/
/************************************************************************************************************************************************/
.blog-meta-wrapper {
  margin: 1rem;
}

.blog-wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  border: 1px solid hsl(0deg, 0%, 50%);
  margin: 0;
  width: 100%;
}

.blog-title-bar {
  background-color: #D7A86E;
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 1%;
}

.blog-nav {
  justify-self: right;
}

.head-title {
  margin: 1%;
}

.head-author {
  margin: 1%;
}

.head-date {
  margin: 1%;
}

.blog-content-pane {
  padding: 1%;
  height: 40vh;
}

.blog-nav-left {
  border: none;
  font-size: 1.5rem;
}

.blog-nav-right {
  border: none;
  font-size: 1.5rem;
}

.blog-nav-btn {
  background-color: #D7A86E;
}

.blog-nav-btn:hover {
  background-color: #FFCA03;
  cursor: pointer;
}

/************************************************************************************************************************************************/
/*MEDIA QUERIES*/
/************************************************************************************************************************************************/
@media screen and (min-width: 550px) {
  .popular-grid {
    grid-template-columns: repeat(7, 50%);
  }
  .intro-text {
    font-size: 2.75rem;
  }
  .blog-title-bar {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 750px) {
  .popular-grid {
    grid-template-columns: repeat(7, 33.333%);
  }
  .intro-img-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
  .intro-text-wrapper {
    grid-column: 2/span 3;
    grid-row: 1/span 5;
  }
  .intro-text {
    font-size: 3rem;
  }
  .intro-btn {
    width: 180px;
    height: 80%;
    grid-row: 5/span 1;
    grid-column: 2/span 3;
  }
}
@media screen and (min-width: 1000px) {
  .popular-grid {
    grid-template-columns: repeat(7, 25%);
  }
  .intro-img-wrapper {
    grid-template-rows: repeat(7, minmax(0, 1fr));
  }
  .intro-btn {
    grid-column: 3/span 1;
    width: 180px;
    grid-row: 6/span 1;
  }
  .intro-text {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=home_page.css.map */
