@import "../../global_styles/master.scss";
@import "../../global_styles/navbar.scss";
@import "../../global_styles/footer.scss";
@import "../../global_styles/product_card.scss";

// ************************************************************************************************************************************************
// INTRO
// ************************************************************************************************************************************************
$intro_container_height: max(400px, 80vh);

.intro {
    background-color: yellow;
    display: grid;
    grid-template-rows: max(200px, 40vh) max(200px, 40vh);
    height: max(400px, 80vh);
}

.intro-text-wrapper{
    background-color: aquamarine;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row: 1 / 1;
    padding: auto;
    width: 100%;
}

.intro-text{
    color: white;
    font-family: sans-serif;
    font-size: 2.5rem;
}

.intro-img-wrapper{
    width: 100%;
    background-color: rgba(aquamarine, 0.6);
    background-image: url(../images/intro-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 2 / 2;
}

/************************************************************************************************************************************************/
/*CAROUSEL*/
/*************************************************************************************************************************************************/
$carousel_item_count: 5;

@mixin carousel_dim($scale_h: 1, $scale_w: 1) {
    height: calc($carousel_height*$scale_h);
    width: calc($carousel_width*$scale_w);
    min-width: calc($carousel_width*$scale_w);
}

$carousel_height: max(200px, 40vh);
$carousel_width: 100%;

.carousel-container{
    @include carousel_dim;
    position: relative;
    overflow: hidden;

    #item-1{
        background-color: aquamarine;
    }

    #item-2{
        background-color: aqua;
    }

    #item-3{
        background-color: rgb(112, 188, 188);
    }

    #item-4{
        background-color: rgb(107, 107, 9);
    }

    #item-5{
        background-color: chocolate;
    }

    margin: 1% 0;
}

.left-btn{
    @include carousel_dim(1, 0.5);
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: $carousel_item_count + 1;
}

.right-btn{
    @include carousel_dim(1, 0.5);
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: $carousel_item_count + 1;
}

.carousel-item{
    @include carousel_dim(0.5, 0.8);
    font-size: 0.8rem;
    border-radius: 1rem;
    padding: 5%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 10%;
    opacity: 0;
    transform: translateY(25%);
    transition: all 1s;
    z-index: $carousel_item_count - 2;
}

.carousel-focus {
    @include carousel_dim(0.9, 0.9);
    left: 5%;
    box-shadow: 0px 0px 10px;
    opacity: 1;
    transform: translateY(5%);
    transition: all 1s;
    z-index: $carousel_item_count;
}

.carousel-right{
    @include carousel_dim(0.8, 0.8);
    top: 0;
    left: 95%;
    opacity: 1;
    transform: translateY(10%);
    transition: all 1s;
    z-index: $carousel_item_count - 1;
}

.carousel-left{
    @include carousel_dim(0.8, 0.8);
    top: 0;
    left: -75%;
    opacity: 1;
    transform: translateY(10%);
    transition: all 1s;
    z-index: $carousel_item_count - 1;
}

/************************************************************************************************************************************************/
/*POPULAR BANNER*/
/************************************************************************************************************************************************/

@mixin popular_dim($scale_h: 1, $scale_w: 1) {
    height: calc($popular_height*$scale_h);
    width: calc($popular_width*$scale_w);
    min-width: calc($popular_width*$scale_w);
}

$popular_height: max(400px, 60vh);
$popular_width: 100%;

.popular-grid{
    overflow-x: scroll;
    @include popular_dim;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100%;
}
/************************************************************************************************************************************************/
/*MEDIA QUERIES*/
/************************************************************************************************************************************************/
@media screen and (min-width: 550px) {
    .popular-grid{
        grid-template-columns: 33.333% 33.333% 33.333% 33.333% 33.333% 33.333% 33.333% 33.333%;
    }
    
}   

@media screen and (min-width:750px) {
    .intro{
        grid-template-rows: none;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .intro-img-wrapper{
        grid-row: none;
        grid-column: 2 / span 3;
        height: $intro_container_height;
    }
    
    .intro-text-wrapper{
        grid-row: none;
        grid-column: 1 / 1;
        height: $intro_container_height;
    }

    .popular-grid{
        grid-template-columns: 25% 25% 25% 25% 25% 25% 25% 25%;
    }
}