* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

:root {
  --color1: white;
}

/* ************************************************************************************************************************************************ */
/* NAVBAR */
/* ************************************************************************************************************************************************ */
.navbar {
  background-color: var(--color1);
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 200px auto auto;
  padding: 1%;
  position: sticky;
  text-align: left;
  top: 0;
  align-items: center;
  z-index: 100;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  padding: 2vh;
}

.nav-link:hover {
  color: darkgray;
  background-color: black;
}

.nav-link:active {
  background-color: black;
}

.navbar-button {
  height: auto;
  font-size: 1.5rem;
}

.nav-brand {
  font-size: 1.7rem;
  font-weight: 500;
  background-color: red;
  color: white;
  padding: 3%;
}

.nav-items {
  display: none;
  justify-self: right;
}

.nav-brand:hover {
  color: black;
  background-color: red;
}

.nav-btn {
  width: 30px;
  height: 30px;
  justify-self: right;
  grid-column: 3/3;
}

.show {
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 65%);
  position: absolute;
  z-index: 2;
  top: 100%;
  width: 50%;
}

.hide {
  display: none;
}

/* ************************************************************************************************************************************************
MEDIA QUERIES
************************************************************************************************************************************************ */
@media screen and (min-width: 750px) {
  .nav-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column: 3/3;
  }
  .nav-btn {
    display: none;
  }
}
.footer {
  background-color: rgb(93, 203, 176);
  position: relative;
  padding: 5% 1%;
}

.nl-form {
  display: block;
  position: absolute;
  bottom: 200px;
  background-color: beige;
}

.nl-label {
  grid-row: 1/1;
  padding: 2%;
}

.nl-input {
  grid-row: 2/2;
  border-bottom: 3px solid green;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 2%;
  width: 75%;
}

.nl-submit {
  padding: 1%;
  margin: 1%;
}

.nl-interested {
  border: none;
  background-color: transparent;
}

.footer-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.4);
}

.product-card {
  border: 2px solid hsl(0deg, 0%, 60%);
  border-radius: 5px;
  margin: 3%;
  transition: box-shadow 0.5s;
  min-height: 400px;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

.product-card:hover {
  box-shadow: 0 0 10px hsl(0deg, 0%, 60%);
}

.product-image {
  width: 100%;
  grid-row: 1/span 5;
  min-width: 0;
  min-height: 0;
}

.product-desc {
  grid-row: 6/span 3;
  padding: 2%;
  min-width: 0;
  min-height: 0;
}

.actions-container {
  background-color: hsl(0deg, 0%, 70%);
  grid-row: 9/span 2;
  padding: 2%;
  min-width: 0;
  min-height: 0;
  display: grid;
}

.price-label {
  grid-column: 1/1;
  align-self: center;
}

.action-btn {
  grid-column: 3/3;
  font-size: 0.8rem;
  align-self: center;
  min-height: 50px;
}

/************************************************************************************************************************************************/
/*CAROUSEL*/
/*************************************************************************************************************************************************/
.carousel-container {
  height: calc(max(200px, 40vh) * 1);
  width: 100%;
  min-width: 100%;
  position: relative;
  overflow: hidden;
  margin: 1% 0;
}
.carousel-container #item-1 {
  background-color: aquamarine;
}
.carousel-container #item-2 {
  background-color: aqua;
}
.carousel-container #item-3 {
  background-color: rgb(112, 188, 188);
}
.carousel-container #item-4 {
  background-color: rgb(107, 107, 9);
}
.carousel-container #item-5 {
  background-color: chocolate;
}

.left-btn {
  height: calc(max(200px, 40vh) * 1);
  width: 50%;
  min-width: 50%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
}

.right-btn {
  height: calc(max(200px, 40vh) * 1);
  width: 50%;
  min-width: 50%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 6;
}

.carousel-item {
  height: calc(max(200px, 40vh) * 0.5);
  width: 80%;
  min-width: 80%;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding: 5%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 10%;
  opacity: 0;
  transform: translateY(25%);
  transition: all 1s;
  z-index: 3;
}

.carousel-focus {
  height: calc(max(200px, 40vh) * 0.9);
  width: 90%;
  min-width: 90%;
  left: 5%;
  box-shadow: 0px 0px 10px;
  opacity: 1;
  transform: translateY(5%);
  transition: all 1s;
  z-index: 5;
}

.carousel-right {
  height: calc(max(200px, 40vh) * 0.8);
  width: 80%;
  min-width: 80%;
  top: 0;
  left: 95%;
  opacity: 1;
  transform: translateY(10%);
  transition: all 1s;
  z-index: 4;
}

.carousel-left {
  height: calc(max(200px, 40vh) * 0.8);
  width: 80%;
  min-width: 80%;
  top: 0;
  left: -75%;
  opacity: 1;
  transform: translateY(10%);
  transition: all 1s;
  z-index: 4;
}

.intro {
  background-color: yellow;
  display: grid;
  grid-template-rows: max(200px, 40vh) max(200px, 40vh);
  height: max(400px, 80vh);
}

.intro-text-wrapper {
  background-color: aquamarine;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 1/1;
  padding: auto;
  width: 100%;
}

.intro-text {
  color: white;
  font-family: sans-serif;
  font-size: 2.5rem;
}

.intro-img-wrapper {
  width: 100%;
  background-color: rgba(127, 255, 212, 0.6);
  background-image: url(../images/intro-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-row: 2/2;
}

/************************************************************************************************************************************************/
/*POPULAR BANNER*/
/************************************************************************************************************************************************/
.popular-grid {
  overflow-x: scroll;
  overflow-y: hidden;
  height: calc(max(500px, 60vh) * 1);
  width: 100%;
  min-width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 100% 100% 100% 100% 100% 100% 100% 100%;
}

/************************************************************************************************************************************************/
/*BLOG CONTAINER*/
/************************************************************************************************************************************************/
.blog-wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  border: 1px solid hsl(0deg, 0%, 50%);
  border-radius: 5px;
}

.blog-title-bar {
  background-color: grey;
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 1%;
}

.blog-nav {
  justify-self: right;
}

.head-title {
  margin: 1%;
}

.head-author {
  margin: 1%;
}

.head-date {
  margin: 1%;
}

.blog-content-pane {
  padding: 1%;
}

.blog-nav-left {
  border: none;
  font-size: 1.5rem;
}

.blog-nav-right {
  border: none;
  font-size: 1.5rem;
}

/************************************************************************************************************************************************/
/*MEDIA QUERIES*/
/************************************************************************************************************************************************/
@media screen and (min-width: 550px) {
  .popular-grid {
    grid-template-columns: 33.333% 33.333% 33.333% 33.333% 33.333% 33.333% 33.333% 33.333%;
  }
  .blog-title-bar {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 750px) {
  .intro {
    grid-template-rows: none;
    grid-template-columns: 25% 25% 25% 25%;
  }
  .intro-img-wrapper {
    grid-row: none;
    grid-column: 2/span 3;
    height: max(400px, 80vh);
  }
  .intro-text-wrapper {
    grid-row: none;
    grid-column: 1/1;
    height: max(400px, 80vh);
  }
  .popular-grid {
    grid-template-columns: 25% 25% 25% 25% 25% 25% 25% 25%;
  }
}

/*# sourceMappingURL=styles.css.map */
