@use "../../colors";
/* ************************************************************************************************************************************************ */
/* NAVBAR */
/* ************************************************************************************************************************************************ */
.navbar{
    background-color: colors.$col_1_1;
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: 200px auto auto;
    padding: 1rem ;
    position: sticky;
    text-align: left;
    top: 0;
    align-items: center;
    z-index: 100;
}

.nav-link{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
    padding: 2vh;
}

.nav-link:hover{
    color: black;
    background-color: colors.$col_1_3;
}

.nav-link:active{
    background-color: black;
}

.navbar-button{

    height: auto;
    font-size: 2rem;
}

.nav-brand{
    font-size: 1.7rem;
    font-weight: 500;
    background-color: red;
    color: white;
    padding: 3%;
}


.nav-items{
    display: none;
    justify-self: right;
}


.nav-brand:hover{
    color: colors.$col_1_2;
    background-color: red;
}

.nav-btn{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    justify-self: right;
    grid-column: 3 / 3;
}

.show{
    display: flex;
    flex-direction: column;
    background-color: colors.$col_1_5;
    position: absolute;
    z-index: 2;
    top: 100%;
    width: 50%;
}

.hide{
    display: none;
}

/* ************************************************************************************************************************************************
MEDIA QUERIES
************************************************************************************************************************************************ */
@media screen and (min-width: 550px) {

   
}

@media screen and (min-width: 750px) {
    .nav-items{
        display: grid;
        grid-template-columns: auto auto auto auto ;
        grid-column: 3 / 3;
    }
    
    .nav-btn{
        display: none;
    }
}
/************************************************************************************************************************************************/